.performance-budget-graph {
  display: table;
}

.performance-budget-graph__bar {
  height: 50px;
  display: table-cell;
  background-color: #648D93;
  border: 1px solid #EAE7E2;
  color: #EAE7E2;
  vertical-align: middle;
  text-align: center;
  
  &:nth-child(2n) {
    background-color: #302E2F;
  }

  &:nth-child(3n) {
    background-color: #A9564E;
  }
}
