// Styles for styleguide

.styleguide {
  text-align: center;
}

.colour {
  width: 20%;
  margin: 10px 2%;
  padding: 20px 0;
  display: inline-block;
  border: 2px solid $c-black;
  color: $c-white;
}

.white {
  background-color: $c-white;
  color: $c-black;
}

.black {
  background-color: $c-black;
}

.blue {
    background-color: $c-blue;
}

.red {
  background-color: $c-red;
}
